*.suo
ASTool/bin/
ASTool/obj/
ASBinCode/bin/
ASBinCode/obj/
ASCR/bin/
ASCR/obj/
ASCTest/bin/Debug/
ASCTest/bin/Release/*.dll
ASCTest/bin/Release/*.exe
ASCTest/bin/Release/*.config
ASCTest/bin/Release/*.xml
ASCTest/obj/
ASRuntime/bin/
ASRuntime/obj/
ASBinCode/bin/
LinkCodeGen/obj/
LinkCodeGen/bin/
*.pdb
*.cache
.vs/ASTool/v15/sqlite3/storage.ide
*.vspx
