<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="skipcreatortypes" type="LinkCodeGenCLI.StringListSection,LinkCodeGenCLI" />
    <section name="notcreatenamespace" type="LinkCodeGenCLI.StringListSection,LinkCodeGenCLI" />
    <section name="notcreatetypes" type="LinkCodeGenCLI.StringListSection,LinkCodeGenCLI" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
  
  <appSettings>
    <!--生成的单一CSharp代码文件-->
    <add key="combiedcodefile" value="codeoutput.cs"/>
    <!--生成的as3api所在目录-->
    <add key="as3apipath" value=""/>
    <!--生成的csharp代码所在目录-->
    <add key="csharpcodepath" value=""/>
    <!--生成的csharp代码的命名空间-->
    <add key="csharpcodenamespace" value="ASCAutoGen.regNativeFunctions"/>
    <!--生成的csharp注册代码的命名空间-->
    <add key="regfunctioncodenamespace" value="ASCTest"/>
    <!--生成的csharp注册代码文件-->
    <add key="regfunctioncodefile" value="regNativeCode.cs"/>

    
    <!--生成as3api和csharp对接代码的dll所在目录-->
    <add key="libdir" value="../ToGenLibrary" />
    
  </appSettings>
  
  
  
  <!--已经手工创建的类型-->
  <skipcreatortypes>  
    <item value="ASBinCode.RunTimeValueBase"></item>
    <item value="System.ICloneable"></item>
    <item value="System.Collections.IEnumerator"></item>
    <item value="System.Collections.IEnumerable"></item>
    <item value="System.Collections.ICollection"></item>
    <item value="System.Collections.ArrayList"></item>
    <item value="System.Collections.Hashtable"></item>
    <item value="System.Collections.DictionaryEntry"></item>
    <item value="System.Collections.IDictionary"></item>
    <item value="System.Collections.IDictionaryEnumerator"></item>
    <item value="System.Collections.IList"></item>
    <item value="System.Collections.Queue"></item>
    <item value="System.Collections.Stack"></item>
    <item value="System.TypedReference"></item>
    <item value="System.Array"></item>
    <item value="System.Object"></item>
    <item value="System.String"></item>
    <item value="System.Delegate"></item>
    <item value="System.MulticastDelegate"></item>
  </skipcreatortypes>

  <!--如下命名空间内的类型将会被跳过-->
  <notcreatenamespace>
    <item value="System.Reflection"></item>
    <item value="System.Runtime"></item>
    <item value="System.Threading"></item>
    <item value="System.Timers"></item>
    <item value="System.Deployment"></item>
    <item value="System.Diagnostics"></item>
    <item value="System.CodeDom"></item>
    <item value="System.Configuration"></item>
    <item value="System.Media"></item>
    <item value="System.Resources"></item>
    <item value="System.Web"></item>
    <item value="System.Data.Odbc"></item>
    <item value="System.Data.OleDb"></item>
    <item value="System.Data.SqlClient"></item>
    <item value="Windows"></item>
    <item value="System.Security.AccessControl"></item>
    <item value="System.Security.Permissions"></item>
    <item value="System.Security.Policy"></item>
    <item value="System.Security.Principal"></item>
    <item value="Microsoft"></item>
  </notcreatenamespace>

  <!--如下类型将会被跳过-->
  <notcreatetypes>
    <item value="System.Exception"></item>
    <item value="System.AppDomain"></item>
    <item value="System.TupleExtensions"></item>
    <item value="System.Globalization.GlobalizationExtensions"></item>
    <item value="System.AppContext"></item>
    <item value="System.Enum"></item>
    <item value="System.ActivationContext"></item>
    <item value="System.Activator"></item>
    <item value="System.AppDomainManager"></item>
    <item value="System.AppDomainSetup"></item>
    <item value="System.Console"></item>
    <item value="System.ArgIterator"></item>
    <item value="System.RuntimeArgumentHandle"></item>
    <item value="System.Attribute"></item>
  </notcreatetypes>
  
  
</configuration>
