<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="skipcreatortypes" type="LinkCodeGenCLI.StringListSection,LinkCodeGenCLI"/>
    <section name="notcreatenamespace" type="LinkCodeGenCLI.StringListSection,LinkCodeGenCLI"/>
    <section name="notcreatetypes" type="LinkCodeGenCLI.StringListSection,LinkCodeGenCLI"/>
    <section name="notcreatemembers" type="LinkCodeGenCLI.StringListSection,LinkCodeGenCLI"/>
    
    <section name="includelibcode" type="LinkCodeGenCLI.StringListSection,LinkCodeGenCLI"/>
    <section name="buildassemblys" type="LinkCodeGenCLI.AssemblyListSection,LinkCodeGenCLI" />
    <section name="resolvepath" type="LinkCodeGenCLI.StringListSection,LinkCodeGenCLI" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
  
  <appSettings>
    <!--生成的单一CSharp代码文件-->
    <add key="combiedcodefile" value="codeoutput.cs"/>
    <!--生成的as3api所在目录-->
    <add key="as3apipath" value="as3api"/>
    <!--生成的csharp代码所在目录-->
    <add key="csharpcodepath" value="buildins"/>
    <!--生成的csharp代码的命名空间-->
    <add key="csharpcodenamespace" value="ASCAutoGen.regNativeFunctions"/>
    <!--生成的csharp注册代码的命名空间-->
    <add key="regfunctioncodenamespace" value="ASCTest"/>
    <!--生成的csharp注册代码文件-->
    <add key="regfunctioncodefile" value="regNativeCode.cs"/>

    <!--是否将.net的mscorlib模块库导出代码   这里将mono的dll拷入目录，所以这里是false-->
    <add key="makemscorlib" value="false"/>

    <!--AS3RuntimeSDK地址。如果配置成auto,则表示默认本程序就在SDK目录下的linkcodegencli目录中-->
    <add key="sdkpath" value="../../../BuildOutSDK/1.0.0"/>
    <!--编译出的as3二进制字节码-->
    <add key="as3libfile" value="as3unitylib.cswc"/>
    
    
    
  </appSettings>

  <!--一同编译的类库代码-->
  <includelibcode>
    <item value="$(sdkpath)\as3corelib"></item>
  </includelibcode>


  <buildassemblys>
    <assembly value="C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v3.5\Profile\Unity Full v3.5\System.dll">
      <!--
      <type definetype="type" value="aa"></type>
       <type definetype="namespace" value="bb"></type>
       -->
    </assembly>
    
    <assembly value="D:\Program Files\Unity56\Editor\Data\Managed\UnityEngine.dll"></assembly>
    <assembly value="D:\Program Files\Unity56\Editor\Data\UnityExtensions\Unity\GUISystem\UnityEngine.UI.dll"></assembly>
  

    <!--<assembly value="E:\Manju-pc\blacksmithHorizontal\blacksmith\Library\ScriptAssemblies\Assembly-CSharp.dll"></assembly>
    -->
  </buildassemblys>
  <!--在哪些路径下查找dll.例如当加载ScriptAssemblies\Assembly-CSharp.dll时，可能需要到Unity安装目录下查找等。在这里配置dll查找路径-->
  <resolvepath>
    <item value="D:\Program Files\Unity56\Editor\Data\Managed"></item>
  </resolvepath>
  
  
  <!--已经手工创建的类型-->
  <skipcreatortypes>  
    <item value="ASBinCode.RunTimeValueBase"></item>
    <item value="System.ICloneable"></item>
    <item value="System.Collections.IEnumerator"></item>
    <item value="System.Collections.IEnumerable"></item>
    <item value="System.Collections.ICollection"></item>
    <item value="System.Collections.ArrayList"></item>
    <item value="System.Collections.Hashtable"></item>
    <item value="System.Collections.DictionaryEntry"></item>
    <item value="System.Collections.IDictionary"></item>
    <item value="System.Collections.IDictionaryEnumerator"></item>
    <item value="System.Collections.IList"></item>
    <item value="System.Collections.Queue"></item>
    <item value="System.Collections.Stack"></item>
    <item value="System.TypedReference"></item>
    <item value="System.Array"></item>
    <item value="System.Object"></item>
    <item value="System.String"></item>
    <item value="System.Delegate"></item>
    <item value="System.MulticastDelegate"></item>
  </skipcreatortypes>

  <!--如下命名空间内的类型将会被跳过-->
  <notcreatenamespace>
    <item value="System.Reflection"></item>
    <item value="System.Runtime"></item>
    <item value="System.Threading"></item>
    <item value="System.Timers"></item>
    <item value="System.Deployment"></item>
    <item value="System.Diagnostics"></item>
    <item value="System.CodeDom"></item>
    <item value="System.Configuration"></item>
    <item value="System.Media"></item>
    <item value="System.Resources"></item>
    <item value="System.Web"></item>
    <item value="System.Linq"></item>
    <item value="System.Data.Odbc"></item>
    <item value="System.Data.OleDb"></item>
    <item value="System.Data.SqlClient"></item>
    <item value="System.Net"></item>
    <item value="System.ComponentModel"></item>    
    <item value="Windows"></item>
    <item value="System.Security.AccessControl"></item>
    <item value="System.Security.Permissions"></item>
    <item value="System.Security.Policy"></item>
    <item value="System.Security.Principal"></item>
    <item value="Microsoft"></item>
    <item value="JetBrains"></item>
    <item value="UnityEngineInternal"></item>
    <item value="UnityEngine.VR"></item>
    <item value="UnityEngine.WSA"></item>
    <item value="UnityEngine.iOS"></item>
    <item value="UnityEngine.Apple"></item>
    <item value="UnityEngine.Windows"></item>
    <item value="UnityEngine.Tizen"></item>
    <item value="UnityEngine.Collections"></item>
    <item value="UnityEngine.Analytics"></item>
    <item value="UnityEngine.Assertions"></item>
    <item value="UnityEngine.CrashReportHandler"></item>
    <item value="UnityEngine.Diagnostics"></item>
    <item value="UnityEngine.Experimental"></item>
    <item value="UnityEngine.Networking"></item>
    <item value="UnityEngine.Profiling"></item>
    <item value="UnityEngine.SocialPlatforms"></item>
    <item value="Mono"></item>
    <item value="ASBinCode"></item>
    <item value="ASRuntime"></item>
  </notcreatenamespace>

  <!--如下类型将会被跳过-->
  <notcreatetypes>
    <item value="System.Exception"></item>
    <item value="System.AppDomain"></item>
    <item value="System.TupleExtensions"></item>
    <item value="System.Globalization.GlobalizationExtensions"></item>
    <item value="System.AppContext"></item>
    <item value="System.Enum"></item>
    <item value="System.ActivationContext"></item>
    <item value="System.Activator"></item>
    <item value="System.AppDomainManager"></item>
    <item value="System.AppDomainSetup"></item>
    <item value="System.Console"></item>
    <item value="System.ArgIterator"></item>
    <item value="System.RuntimeArgumentHandle"></item>
    <item value="System.Attribute"></item>
    <item value="System.Environment"></item>
    <item value="System.Security.Cryptography.RNGCryptoServiceProvider"></item>
    <item value="System.Security.PermissionSet"></item>
    <item value="System.GC"></item>
    <item value="System.Globalization.CultureInfo"></item>
    <item value="UnityEngine.iPhoneUtils"></item>

    <item value="UnityEngine.AndroidInput"></item>
    <item value="UnityEngine.AndroidJavaClass"></item>
    <item value="UnityEngine.AndroidJavaException"></item>
    <item value="UnityEngine.AndroidJavaObject"></item>
    <item value="UnityEngine.AndroidJavaProxy"></item>
    <item value="UnityEngine.AndroidJavaRunnable"></item>
    <item value="UnityEngine.AndroidJNI"></item>
    <item value="UnityEngine.AndroidJNIHelper"></item>


    <item value="UnityEngine.AndroidActivityIndicatorStyle"></item>
    <item value="UnityEngine.Caching"></item>
    <item value="UnityEngine.CanvasRenderer"></item>
    <item value="UnityEngine.EventProvider"></item>
    <item value="UnityEngine.FullScreenMovieControlMode"></item>
    <item value="UnityEngine.FullScreenMovieScalingMode"></item>
    <item value="UnityEngine.GUIStyleState"></item>
    <item value="UnityEngine.Handheld"></item>
    <item value="UnityEngine.SamsungTV"></item>
    <item value="UnityEngine.TextureCompressionQuality"></item>
    <item value="UnityEngine.TizenActivityIndicatorStyle"></item>
    <item value="UnityEngine.TouchScreenKeyboard"></item>
    <item value="UnityEngine.Collections.NativeLeakDetectionMode"></item>
    <item value="UnityEngine.iPhoneSettings"></item>
    <item value="UnityEngine.Graphics"></item>
    <item value="UnityEngine.UI.GraphicRebuildTracker"></item>
    <item value="UnityEngine.LightmapBakeType"></item>

    <item value="UnityEngine.WWWAudioExtensions"></item>
    <item value="UnityEngine.MovieTexture"></item>
    <item value="UnityEngine.ClusterNetwork"></item>
    <item value="UnityEngine.ClusterInput"></item>
    <item value="UnityEngine.ClusterInputType"></item>

  </notcreatetypes>

  
  <!--如下的成员将会被跳过-->
  <notcreatemembers>
    <item value="UnityEngine.AnimatorControllerParameter::Void set_name(System.String)"></item>
    <item value="UnityEngine.Input::Boolean IsJoystickPreconfigured(System.String)"></item>

    <item value="UnityEngine.Light::UnityEngine.Vector2 get_areaSize()"></item>
    <item value="UnityEngine.Light::Void set_areaSize(UnityEngine.Vector2)"></item>

    <item value="UnityEngine.MonoBehaviour::Boolean get_runInEditMode()"></item>
    <item value="UnityEngine.MonoBehaviour::Void set_runInEditMode(Boolean)"></item>

    <item value="UnityEngine.UI.Graphic::Void OnRebuildRequested()"></item>

    <item value="UnityEngine.Terrain::Boolean get_bakeLightProbesForTrees()"></item>
    <item value="UnityEngine.Terrain::Void set_bakeLightProbesForTrees(Boolean)"></item>
    
    <item value="UnityEngine.Texture2D::Boolean get_alphaIsTransparency()"></item>
    <item value="UnityEngine.Texture2D::Void set_alphaIsTransparency(Boolean)"></item>


  </notcreatemembers>
</configuration>
